body {
  font-family: helvetica, arial;
}

.octodex, .authors {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.octocat {
  width: 33.33%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
}

.octocat > a {
  border: 1px solid #CACACA;
  display: block;
}

.octocat > a > img {
  width: 100%;
}

.octocat .image-footer {
  border-bottom: 1px solid #CACACA;
  overflow: auto;
  font-weight: bold;
  position: relative;
  padding: 7px 0;
}

.octocat .image-footer:before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-top-color: #cacaca;
    position: absolute;
    right: 7px;
    top: 0;
}

.authors {
  float: right;
  padding-left: 5px;
}

.authors > li {
  float: right;
  padding: 3px;
  box-sizing: border-box;
}

.authors img {
  width: 25px;
  border-radius: 3px;
}

.authors a {
  text-decoration: none;
}

.image-number {
  float: left;
  display: inline-block;
  padding-top: 5px;
  color: #CACACA;
}

.image-caption {
  float: right;
  color: #777;
}

.image-caption > span, .image-caption > a {
  padding-top: 5px;
  display: inline-block;
}

.image-caption > a {
  color: #333;
  text-decoration: none;
}
